@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Outfit:wght@200;300;400;500;600;700&display=swap');

#root {
  text-align: center;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

*, *:hover {
  cursor: url("/cursor.png"), auto;
}

/* NAVBAR */
.navbar {
  background: #3176c4 0%;
  width: 100%;
  height: auto;
  display: flex;
  font-family: 'Outfit', system-ui, sans-serif;
}

.navbar-links {
  margin-left: auto;
  display: flex;
  gap: 1vw;
  align-items: center;
  padding-right: 5rem;
}

/* HERO */
.header {
  height: 100vh;
  position: relative;
  /* background: linear-gradient(
    180deg,
    #0c1a15 0%,
    #14291f 40%,
    #1e3d2b 70%,
    #2e6b45 100%
  ); */
  background: linear-gradient(
    180deg,
    #3176c4 0%,
    #2293c7 40%,
    #29a5da 70%,
    #1baaec 100%
  );
}

.header-text {
  color: rgb(255, 255, 255);
  padding-top: 9rem;

  font-size: xx-large;

  font-family: 'Instrument Serif', Georgia, serif;
  font-style: italic;
}

.mountain {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: auto;

  transform: scaleY(1);
  transform-origin: bottom;
}

.mountain2 {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: auto;

  transform: scaleY(1);
  transform-origin: bottom;
}

.mountain,
.mountain2 {
  will-change: transform;
  transition: none;
}

/* ABOUT */
.about {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30rem;
  background: linear-gradient(
    180deg,
    #196a8f 0%,
    #19678b 40%,
    #125270 70%,
    #0d445e 100%
  );
  font-family: 'Outfit', system-ui, sans-serif;
}

.about1 {
  z-index: 100;
}

.about1,
.about2 {
  position: absolute;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.about-container {
  padding-top: 30rem;
  padding-left: 25rem;
  padding-right: 25rem;
  align-items: center;
  text-align: center;
}


/* EXPERIENCE */
.experience {
  height: 100%;
  width: auto;

  display: flex;
  flex-direction: column;

  justify-content: center;

  background: linear-gradient(
    180deg,
    #0d445e 0%,
    #0a364b 40%,
    #072b3b 70%,
    #04212e 100%
  );

  font-family: 'Outfit', system-ui, sans-serif;
}

.experience-card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  justify-items: center;
  padding-left: 25rem;
  padding-right: 25rem;
}

.experience-card {
  background-color: #909699;
  height: 100%;
  width: auto;
  padding: 1rem;
  border-radius: 1rem;
}

/* PROJECTS */
.projects {
  height: 50vh;
  width: auto;

  display: flex;
  flex-direction: column;

  justify-content: center;

  background-color: blue;
}

/* CONTACT */
.contact {
  height: 50vh;
  width: auto;

  display: flex;
  flex-direction: column;

  justify-content: center;

  background-color: gray;
}